<p *ngIf="!clientes"><em>Carregando...</em></p>

<div class="table-title">
  <div class="row">
      <div class="col-sm-12">
          <h2 class="float-left">Clientes</h2>
          <button class="btn btn-primary float-right" (click)=create()>Cadastrar</button>
      </div>
  </div>
</div>
<div class="table-responsive">
<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="clientes">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Endereço</th>
            <th>Código</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let cliente of clientes">
            <td>{{ cliente.id }}</td>
            <td>{{ cliente.nome }}</td>
            <td>{{ cliente.endereco }}</td>
            <td>{{ cliente.codigo }}</td>
            <td><button class="btn btn-warning" (click)="edit(cliente)">Editar</button></td>
            <td><button class="btn btn-danger" (click)="delete(cliente)" >Excluir</button></td>
        </tr>
    </tbody>
</table>
</div>

